version: 2

updates:
  - package-ecosystem: docker-compose
    directory: "/docker-compose"
    labels:
      - "dependencies"
    schedule:
      interval: "weekly"
    target-branch: "main"

  - package-ecosystem: github-actions
    directory: "/"
    labels:
      - "dependencies"
    schedule:
      interval: "weekly"
    target-branch: "main"