name: Find leaked secrets

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  trufflehog:
    name: Scan using TruffleHog
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@v3.92.3
        with:
          base: ""
          head: ${{ github.ref_name }}
          extra_args: --results=verified,unknown
